header {background-color: grey;}
body{background-color: #BDBDBD;}
img {
	max-width: 100%;
	height: auto;
	margin: auto;
    text-align: center;
}

.navbar{

-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.Indexcontainer{
	margin-top: 170px;
	margin-left: 50px;
	margin-right: 50px;
}

.secondbox{
	text-align: center;
}

.img-preview{
	max-width: 80%;
	height: auto;
	}


#footertext{
	text-align: center;
	color:white;
	}
	
#footerbox{
	background-color: #222222;
	margin-top: 70px;	
}

.boxformat{	
	margin-top: 300px;
	margin-left: 200px;
	}
	
#angebote{	
	margin-top: 500px;
	margin-left: 70px;
	}
	
	
#popup{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}
.panel{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.contact{
	margin-top: 230px;
	margin-left: 50px;
	margin-right: 50px;
}

#anmeldung{
	background-color: #222222;
}

#fehlermeldung{
	color:red;
}

#map-canvas {
	position: center;
	width: 300px;
	height: 300px;
}
