@(AdvertList :List[Advert]) 
@main("Angebote"){
<p>

	<section class="boxformat">
		<article>
@if(!AdvertList.isEmpty()) {
			<h2>
				Angebote
				<button type="button" class="btn btn-warning"
					onclick="popup('@routes.Application.inserat()')">Angebot
					erstellen</button>
			</h2>

			

			<script type="text/javascript">
				$(function() {
					$('#advert').modal("show")
				});
			</script>

			<p>
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<div class="btn-group-vertical" role="group" aria-label="...">

						<button type="button" class="btn btn-default">Werkzeuge</button>
						<button type="button" class="btn btn-default">Fahrzeuge</button>
						<button type="button" class="btn btn-default">Gartengeräte</button>
						<button type="button" class="btn btn-default">Dienstleistungen</button>
						<button type="button" class="btn btn-default">Elektronik</button>
						<button type="button" class="btn btn-default">Sonstiges</button>

					</div>

				</div>
				<div class="col-md-6">					
					@for(advert <- AdvertList){	
							<div class="box">
								<img class="rasemaeher" src=@routes.Assets.at("images/Rasenmaeher.jpg") /> <span
								class="kind">@advert.getKind() <span>: </span> </span> <span class="kind">@advert.getCategory()</span><br> 
								<span class="kind">@advert.getDescription()</span>
								<hr>
							</div>
						}
				</div>

				<div class="col-xs-6 col-sm-3"></div>
			</div>
			<p>
			}
		</article>
	</section>
	}