<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Angebote</title>
<meta name="description"
	content="Die Homepage dient dazu Dinge in Konstanz zu verschenken">
<meta name="keywords" content="Konstanz Verschenken ">
<meta name="author" content="Ramona">

<link rel="stylesheet"
	href="C:\Webtech\RentMyStuff\RentMyStuff\public\stylesheets\bootstrap.min.css">
<link rel="stylesheet"
	href="C:\Webtech\RentMyStuff\RentMyStuff\public\stylesheets\main.css">
<script type="text/javascript"
	src="C:\Webtech\RentMyStuff\RentMyStuff\public\javascripts\rentmystuff.js"></script>
</head>
<body>

	<header> <img
		src="https://raw.githubusercontent.com/WebtechTeam7/RentMyStuff/master/Image/RentMyStuff_Logo.png"
		alt="Logo"> </header>

	<!-- Navigation -->

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">

		<!-- Brand and toggle get grouped for better mobile display -->

		<div class="navbar-header">
			<img
				src="https://raw.githubusercontent.com/WebtechTeam7/RentMyStuff/master/Image/RentMyStuff_Logo.png"
				alt="Logo">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>

			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">Eigene Einträge</a></li>
				<li><a href="#">Angebote</a></li>
				<li><a href="#">Gesuche</a></li>
				<li><a href="#">logout</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>




	<p>
	
		<section> <article>

		<h2>
			Angebote
			<button type="button" class="btn btn-warning" href='Inserat.html'
				onclick="popup('file:///C:/Webtech/RentMyStuff/RentMyStuff/app/views/inserat.scala.html')">Angebot
				erstellen</button>
		</h2>

		<p>
		<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="btn-group-vertical" role="group" aria-label="...">

				<button type="button" class="btn btn-default">Werkzeuge</button>
				<button type="button" class="btn btn-default">Fahrzeuge</button>
				<button type="button" class="btn btn-default">Gartengeräte</button>
				<button type="button" class="btn btn-default">Dienstleistungen</button>
				<button type="button" class="btn btn-default">Elektronik</button>
				<button type="button" class="btn btn-default">Sonstiges</button>

			</div>

		</div>
		<div class="col-md-6">
			<img
				src="C:\Users\Dennis\Studium\Semester 7\Web Technologien\Projekt\RentMyStuff\RentMyStuff\public\images\Rasenmäher.jpg"
				alt="Angebot1" class="img-rounded img-preview">
			<hr>
		</div>

		<div class="col-xs-6 col-sm-3"></div>
	</div>


	<p>
		</article>
		</section>

		<footer>

		<div id="footerbox" class="col-md-12 panel panel-default">
			<div id="footertext" class="panel-body">
				<a id="footertext" href="@routes.Assets.at("app/views/Impressum.scala.html")">Impressum</a>
				<a id="footertext" href="Kontakt.html">Kontakt</a>
			</div>
		</div>


		</footer>
</body>
</html>