@(AdvertList :List[Advert])
@main("Angebote"){
<p>

	<section class="boxformat">
		<article>
			@if(!AdvertList.isEmpty()) {
			<h2>
				Angebote
				<button type="button" class="btn btn-warning"
					onclick="popup('@routes.Application.inserat()')">Angebot
					erstellen</button>
			</h2>



			 <script type="text/javascript">
				
			</script>
			

			<p>
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<div class="btn-group-vertical" role="group" aria-label="...">

						<button type="button" class="btn btn-default" onclick="changeCategory('Werkzeuge')">Werkzeuge</button>
						<button type="button" class="btn btn-default" onclick="changeCategory('Fahrzeuge')">Fahrzeuge</button>
						<button type="button" class="btn btn-default" onclick="changeCategory('Gartengeräte')">Gartengeräte</button>
						<button type="button" class="btn btn-default" onclick="changeCategory('Dienstleistungen')">Dienstleistungen</button>
						<button type="button" class="btn btn-default" onclick="changeCategory('Elektronik')">Elektronik</button>
						<button type="button" class="btn btn-default" onclick="changeCategory('Sonstiges')">Sonstiges</button>

					</div>

				</div>
				<div class="col-md-6">
					@for(advert <- AdvertList){
					@if(advert.getKind().equals("Angebot")){

					<div class="box">
						<h3>@advert.getKind von @advert.getUser().getFullName()</h3> 
						<div>
						
							<!-- <img class="rasemaeher" src=@routes.Assets.at( "images/Rasenmaeher.jpg") /> -->
							<span class="kind">Kategorie: @advert.getCategory()</span><br> <span
								class="kind">@advert.getDescription()</span> <br> <label>mailto:</label><span
								class="kind">@advert.getUser().getEmail()</span>
							<a href="@routes.Application.deleteAdvert(advert.getId(), advert.getUser().getUserID())"><i class="fa fa-trash"></i></a>
						</div>
						<hr>
					</div>
					} }
				</div>

				<div class="col-xs-6 col-sm-3"></div>
			</div>
			<p>}
		</article>
	</section>
	}