@main("Gesuche"){
<p>

	<section class="boxformat">
		<article>
			<h2>
				Gesuche
				<button type="button" class="btn btn-warning"
					onclick="popup('@routes.Application.inserat()')">Gesuch
					erstellen</button>
			</h2>

			<p>
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<div class="btn-group-vertical" role="group" aria-label="...">

						<button type="button" class="btn btn-default">Werkzeuge</button>
						<button type="button" class="btn btn-default">Fahrzeuge</button>
						<button type="button" class="btn btn-default">Gartengeräte</button>
						<button type="button" class="btn btn-default">Dienstleistungen</button>
						<button type="button" class="btn btn-default">Elektronik</button>
						<button type="button" class="btn btn-default">Sonstiges</button>

					</div>

				</div>
				<div class="col-md-6">
					<p>Hallo zusammen, suche dringend einen Rasenmäher....
					<hr>
				</div>

				<div class="col-xs-6 col-sm-3"></div>
			</div>

			<p>
		</article>
	</section>
	}