@main("Impressum"){
	<div class="Indexcontainer">
		<div class="row">
			<h1>Impressum</h1>
			<h2>Angaben gemäß § 5 TMG:</h2>
			<p>
				Dennis Klein<br /> Tribethalden 14<br /> 88682
				Salem-Mittelstenweiler <br/>
				Telefon: +4917672436823 <br/>
				E-Mail:
			</p><hr>
			
			<p>
				Jan Gaideczka<br /> Friedrichstraße 10C<br /> 78464 Konstanz <br/>
				Telefon: +4915143249618 <br/>
				E-Mail:
			</p><hr>
			
			<p>
				Ramona Barth<br /> Rheingutstraße 40<br /> 78462 Konstanz <br/>
				Telefon: +491711270335 <br/>
				E-Mail:
			</p>
		</div>
	</div>
}