<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Impressum</title>
<meta name="description"
	content="Die Homepage dient dazu Dinge in Konstanz zu verschenken">
<meta name="keywords" content="Konstanz Verschenken ">
<meta name="author" content="Dennis">

<!--<link rel="stylesheet" type="text/css" href="Mystyle.css"> -->
</head>
<body>

	<header> <img
		src="https://raw.githubusercontent.com/WebtechTeam7/RentMyStuff/master/Image/RentMyStuff_Logo.png"
		alt="Logo"> </header>


	<h1>Impressum</h1>
	<h2>Angaben gem‰ﬂ ß 5 TMG:</h2>
	<p>
		Dennis Klein<br /> Tribethalden 14<br /> 88682
		Salem-Mittelstenweiler
	</p>

	<table>
		<tr>
			<td>Telefon:</td>
			<td>+4917672436823</td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td>dennis.jens.klein@gmail.com</td>
		</tr>
	</table>
	<p>
		Jan Gaideczka<br /> Friedrichstraﬂe 10C<br /> 78464
		Konstanz
	</p>
	<table>
		<tr>
			<td>Telefon:</td>
			<td>+4915143249618</td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td>jgaideczka@gmail.com</td>
		</tr>
	</table>
		<p>
		Ramona Barth<br /> Straﬂe<br /> PLZ
		Ort
	</p>
	<table>
		<tr>
			<td>Telefon:</td>
			<td>Nummer</td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td>Adresse</td>
		</tr>
	</table>
	
	
	</section>
	<footer> <a href="Impressum.html">Impressum</a> <a
		href="Kontakt.html">Kontakt</a> </footer>
</body>
</html>