@main("Index"){

	<!-- Content -->

	<div class="Indexcontainer">

		<div class="row">

			<div class="col-md-6 firstbox ">

				<h1>Worum geht es hier eigentlich?</h1>
				<p>Jeder kennt es vermutlich. Man zieht in eine neue Stadt um
					dort zu studieren oder eben aus anderen Gründen.</p>
				<p>Doch spätestens beim Aufbau der Möbel stößt man auf die
					ersten Probleme. Bohrmaschine, Schraubenzieher irgendetwas fehlt
					immer.</p>
				<p>Da wäre es doch sinnvoll eine Plattform zu haben, auf der man
					das benötigte Werkzeug suchen kann und es von jemandem der es
					Anbietet ausleihen kann.</p>
				<p>Genau das soll das "RentMyStuff" - Portal ermöglichen.</p>

			</div>

			<div class="col-md-2  secondbox">

				<h3>Angebote:</h3>

				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Angebot1" class="img-rounded img-preview">
				<hr>
				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Angebot2" class="img-rounded img-preview">
				<hr>
				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Angebot3" class="img-rounded img-preview">
				<hr>
			</div>

			<div class="col-md-2 col-md-offset-1  secondbox">

				<h3>Gesuche:</h3>

				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Gesuch1" class="img-rounded img-preview">
				<hr>
				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Gesuch2" class="img-rounded img-preview">
				<hr>
				<img
					src=@routes.Assets.at("images/Rasenmaeher.jpg")
					alt="Gesuch3" class="img-rounded img-preview">
				<hr>
			</div>



		</div>
	</div>
}