@(UserAdvertList :List[Advert])
@()
@main("Index"){

	<!-- Content -->

	<div class="Indexcontainer">

		<div class="row">

			<div class="col-md-6 firstbox ">

				<h1>Worum geht es hier eigentlich?</h1>
				<p>Jeder kennt es vermutlich. Man zieht in eine neue Stadt um
					dort zu studieren oder eben aus anderen Gründen.</p>
				<p>Doch spätestens beim Aufbau der Möbel stößt man auf die
					ersten Probleme. Bohrmaschine, Schraubenzieher irgendetwas fehlt
					immer.</p>
				<p>Da wäre es doch sinnvoll eine Plattform zu haben, auf der man
					das benötigte Werkzeug suchen kann und es von jemandem der es
					Anbietet ausleihen kann.</p>
				<p>Genau das soll das "RentMyStuff" - Portal ermöglichen.</p>

				<a href="@routes.Application.account">Account löschen</a>
				
				
			</div>

			<div class="col-md-2  secondbox">
				<h3>Angebote:</h3>
				@for(advert <- UserAdvertList){
					@if(advert.getKind().equals("Angebot")){

					<div class="box">						
						<!-- <img class="rasemaeher" src=@routes.Assets.at( "images/Rasenmaeher.jpg") /> -->
						<span class="kind">Kategorie: @advert.getCategory()</span><br> 
						<span class="kind">@advert.getDescription()</span>
						<a href="@routes.Application.deleteAdvert(advert.getId(), advert.getUser().getUserID())"><i class="fa fa-trash"></i></a>
						<hr>
					</div>
					} 					
				}			
			</div>

			<div class="col-md-2 col-md-offset-1  secondbox">

				<h3>Gesuche:</h3>

				@for(advert <- UserAdvertList){
					@if(advert.getKind().equals("Gesuch")){

					<div class="box">
						<div class = "gesuche">
							<!-- <img class="rasemaeher" src=@routes.Assets.at( "images/Rasenmaeher.jpg") /> -->
							<span class="kind">Kategorie: @advert.getCategory()</span><br> 
							<span class="kind">@advert.getDescription()</span>
							<a href="@routes.Application.deleteAdvert(advert.getId(), advert.getUser().getUserID())"><i class="fa fa-trash"></i></a>
						</div>
						<hr>
					</div>
					} }
			</div>



		</div>
	</div>

	<!-- Footer -->

	<!-- <footer>
	<div id="footerbox" class="col-md-12 panel panel-default">
		<div id="footertext" class="panel-body">
			<a id="footertext" href="@routes.Assets.at("app/views/Impressum.scala.html")">Impressum</a>
			<a id="footertext" href="Kontakt.html">Kontakt</a>
		</div>
	</div>


	</footer> -->	


</body>
</html>

}

