<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Registrieren</title>
<meta name="description"
	content="Die Homepage dient dazu Dinge in Konstanz zu verschenken">
<meta name="keywords" content="Konstanz Verschenken ">
<meta name="author" content="Jan Gaideczka">

<link rel="stylesheet" href="C:\Webtech\RentMyStuff\RentMyStuff\public\stylesheets\bootstrap.min.css">

</head>
<body>


	<a href="#x" class="overlay" id="join_form"></a>
	<div class="popup">
	
		<form>
			<h2>Neu registrieren</h2>
			<div>
				<input type="email" id="email" placeholder="Login (Email)" required
					autofocus value="" />
			</div>
			<div>
				<input type="password" id="password" placeholder="Password" required
					value="" />
			</div>
			<div>
				<input type="text" id="vorname" placeholder="Vorname" required
					value="" />
			</div>
			<div>
				<input type="text" id="nachname" placeholder="Nachname" required
					value="" />
			</div>
			<button type="button" class="btn btn-warning" onclick="window.location.href='Index.html'">jetzt Registrieren</button>
		</form>
		
	</div>
	
	
	
</body>
</html>