@(AdvertList :List[Advert]) @main("Angebote"){
<meta charset="utf-8">

<script type="text/javascript">

$(document).ready(function() {
	reloadAdverts("");
});

function getCat(id){
	var g = document.getElementById(id).getAttribute('value');
	reloadAdverts(g);
}

function reloadAdverts(g) {
	var requestObj = new XMLHttpRequest();	
	requestObj.onreadystatechange = function() {
		if (requestObj.readyState == 4 && requestObj.status == 200) {
			document.getElementById("angebote").innerHTML = requestObj.responseText;
			requestObj = null;
		}
	}
	requestObj.open("GET","getAngebotList?g="+g, true);
	requestObj.send();
}
</script>

<p>
	<article>
		<div class="Indexcontainer">
			<div class="row">
				<div class="col-md-3">
				<form action="@routes.Application.inserat()">
					<button type="submit" class="btn btn-warning" value="Angebot erstellen">Angebot erstellen</button>
				</form>
				</div>
				
			</div>
			<div class="row">
				<form>
					<div class="col-md-3">
						<h4>Kategorieauswahl: </h4>
						<div class="btn-group-vertical" role="group" aria-label="...">
							<button type="button" class="btn btn-custom" name="category"
								value="AlleGesuche" id="alleAngebote" onclick="reloadAdverts('');"><b>Alle Angebote</b></button>
							<button type="button" class="btn btn-default" name="category"
								value="Werkzeuge" id="werkzeuge" onclick="getCat(this.id);">Werkzeuge</button>
							<button type="button" id="fahrzeuge" class="btn btn-default" name="category"
								value="Fahrzeuge" onclick="getCat(this.id);">Fahrzeuge</button>
							<button type="button" id="gartengeraete" class="btn btn-default" name="category"
								value="Gartengeräte" onclick="getCat(this.id);">Gartengeräte</button>
							<button type="button" id="dienstleistungen" class="btn btn-default" name="category"
								value="Dienstleistungen" onclick="getCat(this.id);">Dienstleistungen</button>
							<button type="button" id="elektronik" class="btn btn-default" name="category"
								value="Elektronik" onclick="getCat(this.id);">Elektronik</button>
							<button type="button" id="sonstiges" class="btn btn-default" name="category"
								value="Sonstiges" onclick="getCat(this.id);">Sonstiges</button><br>
						</div>
					</div>
				</form>
				
				<div class="col-md-6">
					<img src=@routes.Assets.at("images/Angebote.png") alt="Angebote_Logo">
					<span id="angebote"></span>
				</div>

				<div class="col-xs-6 col-sm-3"></div>
			</div>

		</div>
	</article>

	}