<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Inserat</title>
<meta name="keywords" content="Konstanz Verschenken ">
<meta name="author" content="Jan Gaideczka">
<script src="@routes.Assets.at("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/rentmystuff.js")" type="text/javascript"></script>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
<link rel="stylesheet" href=@routes.Assets.at("stylesheets/bootstrap-theme.css")>
<link rel="stylesheet" href=@routes.Assets.at("stylesheets/main.css")>
<script type="text/javascript">
	var select = "";
	var webSocket;
	$(document).ready(function() {
		$('#speichern').attr("disabled", true);
	});

	function optionValue() {

		select = $('#kategorie').val();

		if (select != "") {
			$('#speichern').attr("disabled", false);
		} else {
			$('#speichern').attr("disabled", true);
		}
	}
	
	$(function(){
		var WS = window["MozWebSocket"] ? MozWebSocket : WebSocket;
		webSocket = new WS("@routes.Application.refresh().webSocketURL(request)");
	
	})
	function sendAdvert(){
		webSocket.send("new Advert");
	}
	
</script>

</head>
<body>
<div class="container">
	<div class="row centered-form">
		<div
			class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
			<img src=@routes.Assets.at("images/RentMyStuff_Logo.png") alt="Logo">
				<div class="panel-heading"><h4>Inserat erstellen:</h4></div>
				<div class="panel-body">
				<form role="form" action="newAdvert" method="Get">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div id="option" name="option">
										<label class="radio-inline"> <input type="radio" name="optradio" value="Angebot" checked>Angebot
										</label> <label class="radio-inline"> 
										<input type="radio"
										name="optradio" value="Gesuch">Gesuch
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<select class="form-control" id="kategorie" name="kategorie" onchange="optionValue()">
								<option value=""></option>
								<option value="Werkzeuge">Werkzeuge</option>
								<option value="Fahrzeuge">Fahrzeuge</option>
								<option value="Gartengeräte">Gartengeräte</option>
								<option value="Elektronik">Elektronik</option>
								<option value="Dienstleistungen">Dienstleistungen</option>
								<option value="Sonstiges">Sonstiges</option>
							</select>
						</div>
				
						<div class="form-group">
							<textarea class="form-control" rows="5" id="comment"
							name="comment" placeholder="Beschreibung" required></textarea>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
								<input type="text" name="street" placeholder="Deine Strasse"
							required> <input type="text" name="postcode"
							placeholder="Deine Postleitzahl" required> <input
							type="text" name="city" placeholder="Deine Stadt" required>
						<input type="text" name="country" placeholder="Dein Land"required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-default" onClick="history.back()">Abbrechen</button>
							<button type="Submit" class="btn btn-warning" id="speichern" onclick="sendAdvert();" onsubmit="window.close(); alert('Ihre Daten wurden gespeichert');">Speichern</button></div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>