@(street: String, city: String, postcode: String, country: String)
@main("Map"){
<meta charset="utf-8">

<script type="text/javascript">
	var latLng = new google.maps.LatLng(47.6667, 9.18333);
	var geocoder;
	var map;
	var mapCanvas;
	var marker;
	var infowindow;
	var image = "@routes.Assets.at("images/favicon.png")";
	var contentString = '<h3>Standort der Anzeige</h3>'
			+ '<p>Der Artikel kann unter der folgenden Adresse abgeholt werden. '
			+ street + ' ' + city + ' ' + postcode + '</p>';
			
	function initialize() {

		mapCanvas = document.getElementById('map-canvas');

		var mapOptions = {
			center : latLng,
			zoom : 15,

		}
		map = new google.maps.Map(mapCanvas, mapOptions);

		geocoder = new google.maps.Geocoder();
		geocoder.geocode({
			'address' : address
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location);
				marker = new google.maps.Marker({
					map : map,
					icon : image,
					position : results[0].geometry.location
				});

				//infowindow = new google.maps.InfoWindow({
				//    content : contentString,
				//    maxWidth: 200
				//});

				//google.maps.event.addListener(marker, 'click', function() {
				//	infowindow.open(map, marker);
				//});
			} else {
				alert('Geocode konnte nicht aufgelöst werden');
				marker = new google.maps.Marker({
					map : map,
					icon : image,
					position : latLng
				});
			}
			document.getElementById('street').innerHTML(street);
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	
</script>

<div class="Indexcontainer">
	<div class="col-md-3">		
	</div>
	<div class="col-md-6" style="border: 2px solid; border-radius: 25px;">
	<h2>Standort:</h2><hr>
	<p><b>Straße: </b>@street</p>
	<p><b>Postleitzahl: </b>@postcode</p> 
	<p><b>Ort: </b>@city</p> 
	<p><b>Land: </b>@country</p>
	
	
		<div id="map-canvas"></div>
		<a class="btn btn-default btn-sm"
			href="javascript:history.go(-1)"> <i class="fa fa-backward"></i>
			Zurück
		</a>
	</div>
	<div class="col-md-3">
		
	</div>
</div>
}
